body {

	background-color: rgba(36, 41, 43, 1);
	font-family: Serif, SansSerif;
	color: white;
	position: relative;
}


main {
	height: 100vh;
	background:url(documentation/images/goldengate.jpg);
	background-attachment: fixed;
	background-size: cover;
	color:#fff;
	background-color:#333;
}

